h1{
    border:purple solid 10px;
}

h2{
    border:blue dotted 10px;
}
h3{
    border:outset 10px;
}

img{
    border:red 5px solid;
    margin-left: 50px;
    padding:4px;
}
h5{
    border:blue solid 10px;
}